@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  user-select: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
/* utils */
.btn {
  @apply rounded-lg text-xl font-medium px-3.5 py-1.5 bg-primary text-white;
}
.btn:hover {
  @apply scale-110 duration-75 ease-in opacity-90;
}
.input {
  @apply text-base px-4 py-1 rounded-2xl text-gray-500 bg-black;
}
